{% extends 'tracker/index.html' %}
{% load static %}
{% load num_filters %}

{% block title %}
	<title>
		{% if customer %}
			Account #{{ customer.acct }} - {{ customer.name }}
		{% else %}
			Tracker - {{ head_text }} ({{ num_accts }})
		{% endif %}
	</title>
{% endblock %}

{% block header %}
		{% if customer %}
			<h1>{{ customer.name }} &#8212; #{{ customer.acct }}</h1>
		{% else %}
			<h1>Tracker &#8212; {{ head_text }} ({{ num_accts }})</h1>
		{% endif %}
{% endblock header %}

{% block content %}

	{% if confirm_remove %}
		<a href="/accounts?remove={{ customer.acct }}&confirm_remove=True">Yes</a>
		<a href="/accounts">No</a>
	{% endif %}

	<a href="/accounts?accts=all">All accounts</a>
	| <a href="/accounts?accts=active">Active accounts</a>
	| <a href="/accounts?accts=inactive">Inactive accounts</a>
	{% if user.is_authenticated %}
		| <a href="/add_account">Add new account</a>
	{% endif %}
	{% if user.is_authenticated and customer %}
		{% if customer.status == '1' %}
			| <a href="/accounts?remove={{ customer.acct }}">Remove account</a>
		{% else %}
			| <a href="#" class="disabled">Remove account</a>
		{% endif %}
		| <a id="acctFormToggle" href="javascript:togglePane('acctForm', 'acctFormToggle');">Edit Account Info</a>
	{% endif %}

	{% if messages %}
		<ul class="message">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
	{% else %}
		<br/><br/>
{#		very nice#}
	{% endif %}

	{% if customer_list %}
		<table>
			<thead>
				<tr>
					{% for item in headers %}
						<th>{{ item }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for customer in customer_list %}
					<tr>
						<td id="account_cell"><a href="/accounts/{{ customer.acct }}">{{ customer.acct }}</a></td>
						<td id="name_cell">{{ customer.name }}</td>
						{% if status_column %}
							<td id="status_cell">{{ customer.status|cust_status }}</td>
						{% endif %}
{#						TODO: Fix sorting, which uses month name#}
						<td id="open_date">{{ customer.createdate|date:"M d, Y" }}</td>
						{% if 'Active' not in head_text %}
							{% if customer.status == "0" %}
								<td id="close_date">{{ customer.closedate|date:"M d, Y" }}</td>
							{% else %}
								<td class="inactive"></td>
							{% endif %}
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

	{% elif customer %}
		<table>
			<thead>
				<tr>
					{% for item in headers %}
						<th>{{ item }}</th>
					{% endfor item %}
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="account_cell">{{ customer.acct }}</td>
					<td id="name_cell">{{ customer.name }}</td>
					<td id="email_cell">{{ customer.email }}</td>
					<td id="status_cell">{{ customer.status|cust_status }}</td>
					<td id="open_date">{{ customer.createdate|date:"M d, Y" }}</td>
					{% if customer.status == '0' %}
						<td id="close_date">{{ customer.closedate|date:"M d, Y" }}</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<br/>
		{% if user.is_authenticated %}
			<div id="acctForm" style="display: none; width: 80%;">
				<form id="acct_info" method="post" action="/acct_info?acct={{ customer.acct }}">
					{% csrf_token %}
					<div class="formcol-3">
						Name: <input type="text" name="name" value="{{ customer.name }}" />
						<br />
						Account: <input type="text" name="acct" value="{{ customer.acct }}" />
					</div>
					<div class="formcol-3">
						Email: <input type="text" name="email" value="{{ customer.email }}" />
					</div>
					<div class="formcol-3">
					<textarea name="notes" rows="5" cols="50">{{ customer.notes }}</textarea>
					{% if account_status == 'Active' %}
						<input type="submit" name="submit" value="Submit" />
					{% endif %}
					</div>
				</form>
			</div>
		{% endif %}
		<hr width="85%" align="left">
		<a href="/inventory?acct={{ customer.acct }}&status=stored">Manage Inventory</a>
		| <a href="/inventory?acct={{ customer.acct }}&status=all">Inventory Report</a>
		{% if storage_fees %}
			| Daily storage fees as of today: ${{ storage_fees|length:"2" }}<br/>
		{% else %}
			| Daily storage fees as of today: $0.00<br/>
		{% endif %}

		<br/><table class="expandable">
			<thead>
				<tr>
					<th>&nbsp;</th>
					{% for item in inv_headers %}
						<th>{{ item }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% if shipment_list %}
					{% for shipment in shipment_list %}
						<tr class="ship_head_row">
							<td><a href="#" class="ship_toggle" onclick="toggleSection(this);">-</a></td>
							<td><a href="/shipment?id={{ shipment.id }}">{{ shipment.id }}</a> ({{ shipment.inventory_set.count }})</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>{{ shipment.status|op_code }}</td>
							<td>{{ shipment.arrival|date:"m-d-Y" }}</td>
						</tr>
						{% for item in shipment.inventory_set.all %}
							<tr>
								<td>&nbsp;</td> <!-- Toggle -->
								<td><p style="visibility:hidden;">{{ shipment.id }}</p></td>
								<td><a href="/inventory?item={{ item.itemid }}">{{ item.itemid }}</a></td>
								<td>{{ item.volume|length:"2" }}</td>
								<td>${{ item.storage_fees|length:"2" }}</td>
								<td>{{ item.status|op_code }}</td>
								<td>{{ shipment.arrival|date:"m-d-Y" }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
				{% endif %}
			</tbody>
		</table>

	{% endif %}

{% endblock content %}
