{% extends 'tracker/index.html' %}
{% load static %}

{% block header %}
		{% if customer %}
			<h1>Tracker &#8212; {{ account_name }}</h1>
		{% else %}
			<h1>Tracker &#8212; Accounts</h1>
		{% endif %}
{% endblock header %}

{% block content %}

	{% if customer_list %}
		<table>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
		{% for customer in customer_list %}
			<tr>
				<td><a href="{{ customer.url }}">{{ customer.acct }}</a></td>
				<td>{{ customer.name }}</td>
			</tr>
		{% endfor %}
		</table>
	{% elif customer %}
		<table>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %]
			</tr>
			<tr>
				<td>{{ account_name }}</td>
				<td>{{ account_acct }}</td>
				<td>{{ account_email }}</td>
			</tr>
		</table>
		<br/><a href="/accounts/{{ account_name }}/remove_account/">Remove account</a>
		<!--I'm not sure what this endfor is ending, but it's needed-->
		{% endfor %}
	{% else %}
		{{ error_message }}<br/>
	{% endif %}

	<br/><a href="/add_account">Add new account</a>

{% endblock %}
