{% extends 'tracker/index.html' %}
{% load static %}

{% block header %}
		{% if customer %}
			<h1>Tracker &#8212; {{ account_name }}</h1>
		{% else %}
			<h1>Tracker &#8212; Accounts</h1>
		{% endif %}
{% endblock header %}

{% block content %}

	{% if message %}
		{{ message }}
	{% endif %}

	<a href="/accounts?accts=all">All accounts</a> | <a href="/accounts?accts=active">Active
	accounts</a> | <a href="/accounts?accts=inactive">Inactive accounts</a> |
	<a href="/add_account">Add new account</a>
	{% if customer_list %}
		<br/><br/><table>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
		{% for customer in customer_list %}
			<tr>
				<td><a href="{{ customer.url }}">{{ customer.acct }}</a></td>
				<td>{{ customer.name }}</td>
				<td>{{ customer.status }}</td>
			</tr>
		{% endfor %}
		</table>
	{% elif customer %}
		{% if account_status == '1' %}
			<!--<a href="/inventory/{{ account_acct }}/add_inventory">Add Inventory</a>-->
			| <a href="/accounts?remove={{ account_acct }}">Remove account</a>
		{% endif %}
		<br/><br/>
		<table>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor item %}
			</tr>
			<tr>
				<td>{{ account_acct }}</td>
				<td>{{ account_name }}</td>
				<td>{{ account_email }}</td>
				<td>{{ account_status }}</td>
			</tr>
		</table>
	{% else %}
		{{ error_message }}<br/>
	{% endif %}

{% endblock content %}
