{% extends 'tracker/index.html' %}
{% load static %}
{% load num_filters %}

{% block title %}
    <title>Add New Shipment</title>
{% endblock title %}

{% block header %}
    Add New Shipment &#8212; <a href="/accounts/{{ customer.acct }}">{{ customer.name }} (#{{ customer.acct }})</a>
{% endblock header %}

{% block extra_scripts %}
    <script src="{% static "js/formelements.js" %}"></script>

    <script>
        $("form#add_shipment_form").submit(function () {
            // Alter the action URL of the form by which shipment is selected
            var self = $(this);
            var orderSelect = $("select#order-select");
            var orderStr = orderSelect.val();

            var basePostURL = '/accounts/' + {{ customer.acct }} +'/add_shipment/';
            if (orderStr == 'Order not yet received') {
                basePostURL += '0/';
            } else {
                var re = /#(\d+):/;
                var orderID = re.exec(orderStr)[1];
                basePostURL += orderID + '/';
            }
            self.attr('action', basePostURL);
        })
    </script>
{% endblock extra_scripts %}

{% block sub_nav %}

    <a href="/accounts?accts=all">All accounts</a>
    | <a href="/accounts?accts=active">Active accounts</a>
    | <a href="/accounts?accts=inactive">Inactive accounts</a>
    {% if user.is_authenticated %}
        | <a href="{% url 'add_account' %}">Add new account</a>
    {% endif %}
    {% if user.is_authenticated and customer %}
        {% if customer.status == '1' %}
            | <a class="remove-link" href="/accounts?remove={{ customer.acct }}"
                 id="{{ customer.inventory.all|stored_count }}">Remove account</a>
        {% else %}
            | <a href="#" class="disabled">Remove account</a>
        {% endif %}
    {% endif %}

{% endblock sub_nav %}

{% block content %}

    <div class="row">

        <form method="post" id="add_shipment_form" action="/accounts/{{ customer.acct }}/add_shipment/0/">
            {% csrf_token %}

            <div class="small-5 columns">

                <label>Labor time:
                    <input type="text" id="labor_time" class="number" name="labor_time" value="0"/>
                </label>

                <label>Tracking number:
                    <input type="text" id="tracking_number" name="tracking_number"
                           placeholder="Tracking number"/>
                </label>

                <label>Palletized:
                    <input type="checkbox" id="palletized" name="palletized"/>
                </label>

                <label>Notes:
                    <textarea name="notes" placeholder="Notes"></textarea>
                </label>

                <button class="small button radius" type="reset" name="reset">Reset</button>
                <button class="small button radius" type="submit" name="submit">Submit</button>

            </div>
            <div class="small-7 columns">

                <label>Work Order
                    <select name="order" id="order-select" class="unmatched-order-select">
                        {# If len(order_list) == 1, one particular shipment is selected, #}
                        {# / to draw focus to there being only one eligible shipment. #}
                        {# Else, a list of all eligible shipments is returned #}
                        {% if order_list|length_is:'1' %}
                            {% for order in order_list %}
                                <option id="{{ order.id }}">{{ order }}</option>
                            {% endfor %}
                            <option>Order not yet received</option>
                        {% else %}
                            <option>Order not yet received</option>
                            {% for order in order_list %}
                                <option id="{{ order.id }}">{{ order }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </label>

                <input type="button" class="small button radius" id="add-extra" value="Add Carton Set">
                <input type="button" class="small button radius" id="remove-extra" value="Remove Carton Set">

                <div id="extras-holder">
                    <div class="extra-row">
                        <label>Quantity
                            <input type='number' name='quantity' placeholder='Quantity'>
                        </label>
                        <input id='dim-input' type='number' name='length' step='any' placeholder='Length'>
                        x <input id='dim-input' type='number' name='width' step='any' placeholder='Width'>
                        x <input id='dim-input' type='number' name='height' step='any' placeholder='Height'>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock content %}