{% extends 'tracker/index.html' %}
{% load static %}

{% block header %}
	{% if customer %}
	    <h1>Add an Account</h1>
	{% else %}
	    <h1>Add an Item {% if owner %}&#8212; {{ owner }}{% endif %}</h1>
	{% endif %}
{% endblock header %}

{% block content %}

	{% if customer %}
	    <form id="account_form" method="post" action="/add_account/">
	{% elif owner %}
        <form id="inventory_form" method="post" action="/accounts/{{ owner.acct }}/add_inventory/">
	{% elif shipment %}
		<form id="shipment_form" method="post" action="/accounts/{{ owner.acct }}/add_shipment/">
	{% endif %}
		<br/>
        {% csrf_token %}
        {% for hidden in form.hidden_field %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
            <br />
        {% endfor %}

{#	    {% if customer %}#}
{#	        <input type="submit" name="submit" value="Create Account" />#}
{#	    {% elif owner %}#}
{#            <input type="submit" name="submit" value="Add Item" />#}
{#		{% elif shipment %}#}
{#			<input type="submit" name="submit" value="Add Shipment" />#}
{#	    {% endif %}#}

		<input type="submit" name="submit"
			{% if customer %}
			   	value="Create Account"
			   {% elif owner %}
			   	value="Add Item"
			   {% elif shipment %}
			   	value="Add Shipment"
			{% endif %} />

    </form>

{% endblock content %}