{% extends 'tracker/index.html' %}
{% load static %}

{% if register %}
	{% block title %}
		<title>Register New User</title>
	{% endblock title %}
{% endif %}

{% block header %}
	{% if form_type == 'customer' %}
		<h3>Add an Account</h3>
	{% elif form_type == 'register' %}
		<h3>Register New User</h3>
	{% elif form_type == 'shipment' %}
		<h3>Create New Shipment (#{{ owner.acct }})</h3>
	{% else %}
		<h3>Add an Item {% if owner %}&#8212; {{ owner }}{% endif %}</h3>
	{% endif %}
{% endblock header %}

{% block content %}

	<div class="row">
		<div class="small-12 column form">

			{% if form_type == 'customer' %}
				<p>This will create a login for the Customer.</p>
				<form id="account_form" method="post" action="{% url 'add_account' %}">
{#			{% elif form_type == 'item' %}#}
{#				<form id="inventory_form" method="post" action="/accounts/{{ owner.acct }}/add_inventory/">#}
			{% elif form_type == 'register' %}
				<p>This will not create a new Customer. Click <a href="{% url 'add_account' %}">here</a> to
				create a new Customer and User.</p>
				<form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
			{% endif %}

			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				<br/>
			{% endfor %}

			<input class="small button radius" type="submit" name="submit"
					{% if form_type == 'customer' %}
				   value="Create Account"
					{% elif form_type == 'item' %}
				   value="Add Item"
					{% elif form_type == 'register' %}
				   value="Register"
					{% endif %} />

			</form>
		</div>
	</div>

{% endblock content %}