{% extends 'tracker/index.html' %}
{% load static %}
{% load num_filters %}

{% block content %}
	<div class="row">

		<p>Shipments in storage over time</p>
		<canvas id="shipments-chart"></canvas>
		<br/>

		<!-- TODO: Add date validation/normalization -->
		<input type="text" class="start-date-ship-num" id="datepicker" placeholder="Start Date">
		<input type="text" class="end-date-ship-num" id="datepicker" placeholder="End Date">
		<button onclick="getData('shipment_num_count', '#shipments-chart', 'ship-num')">
			Refresh Stored Shipments over Time
		</button>

		<hr/>
		<p>Volume of items in storage over time</p>
		<canvas id="item-volume-chart"></canvas>
		<br/>

		<input type="text" class="start-date-item-vol" id="datepicker" placeholder="Start Date">
		<input type="text" class="end-date-item-vol" id="datepicker" placeholder="End Date">
		<button onclick="getData('inventory_volume_total', '#item-volume-chart', 'ship-num')">
			Refresh Items Volume over Time
		</button>

{#		<hr/>#}
{#		<p>Custom Query</p>#}
{#		<canvas id="custom-chart"></canvas>#}
{#		<br/>#}
{#		<input type="text" class="start-date-custom" placeholder="Start Date" disabled>#}
{#		<input type="text" class="end-date-custom" placeholder="End Date" disabled><br/>#}
{#		<div id="json-response-custom" style="padding-top:0.5rem;"></div>#}
{#		<label for="model-select">Model</label>#}
{#		<select id="model-select" disabled>#}
{#			{% for mdl in model_list %}#}
{#				<option id="{{ mdl }}">{{ mdl }}</option>#}
{#			{% endfor %}#}
{#		</select>#}

		<label for="sum-select">Summation</label>
		<select id="sum-select">
			<option id="cumulative">Cumulative</option>
			<option id="interval">Per-interval</option>
		</select>

		<!-- "shipment_num_total", "inventory_volume_total" -->
{#		<button onclick="getData('arg', '#json-response-custom', 'custom')">Draw Graph</button>#}

		<hr/>
		<label for="query-debug" style="font-size:80%;">Show query</label>
		<input type="checkbox" id="query-debug" disabled>
		<pre style="border:1px solid black;padding:1rem;display:none;" id="json-response"></pre>

		<script>
			// TODO: Load sample graphs on pageload
			var elemCanvas = document.createElement('canvas');

			function getData(kwQuery, graphId, dateIdFrag) {
				var startId = '.start-date-' + dateIdFrag;
				var endId = '.end-date-' + dateIdFrag;
				var startDate = $(startId)[0];
				var endDate = $(endId)[0];
				var kwSummation = $('#sum-select').find(':selected').text().toLowerCase();
				var params = {start: startDate.value, end: endDate.value, query: kwQuery, summation: kwSummation};
				$.ajax({
					// url: _url,
					url: "/query_ajax?" + jQuery.param(params),
					dataType: "text",
					type: "GET",
					error: function (err) {
						alert("Error: " + err.statusText.toString())
					},
					success: function (data) {
						var _data = JSON.parse(data)[0];
						var chartArgs = JSON.parse(data)[1];
						drawGraph(_data, chartArgs, $(graphId));
						$("#json-response").html(JSON.stringify(_data['query'], null, 4))
								.show();
					}
				});
			}

			function drawGraph(data, options, graph) {
				var ctx = graph.get(0).getContext("2d");
				var myLineChart = new Chart(ctx).Line(data, options);
			}

			var oldEvt = window.onload;
			window.onload = function () {
				if (oldEvt) oldEvt();
				if (!elemCanvas.getContext) {
					// Chart.js relies on <canvas> support
					document.write("HTML5 Canvas not supported by your browser!")
				}
			};
		</script>

	</div>
	<script src="{% static "js/Chart.js" %}"></script>
{% endblock content %}