<!DOCTYPE html>

{% load static %}

<html>

	<head>
		{% block title %}
			<title>Inventory&#8212;Order Tracker</title>
		{% endblock title %}
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
		<script src="{% static "js/tablesort.js" %}"></script>
{#		<script src="{% static "js/ajax.js" %}"></script>#}
	</head>

	<body>
		{% block header %}
			<h1>Order / Inventory Tracker</h1>
		{% endblock header %}
		<nav>
			<a href="/">Home</a>
			| <a href="/about">About</a>
			| <a href="/accounts?accts=active">Accounts</a>
			| <a href="/inventory?status=stored">Inventory</a>
			| <a href="/register/">Register user</a>
		</nav>

	{% block content %}

		<br/>
		Active customers: {{ cust_act_count }}<br />
		Total customers: {{ cust_count }}<br />
		Items currently in storage: {{ item_count }}<br />
		<a href="/inventory?storage_fees=yes">Items currently incurring storage fees: {{ item_storage_count }}</a><br/>
		<a href="/inventory?storage_fees=no">Items not yet incurring storage fees: {{ item_no_storage_count }}</a>

{#		<br/><br/><form method="get" action="/accounts">#}
{#			Account: <input type="text" name="acct" />#}
{#			<input type="submit" name="submit" value="Search" />#}
{#		</form>#}
	{% endblock %}

	</body>
</html>