<!DOCTYPE html>

{% load static %}

<html>

	<head>
		{% block title %}
			<title>Inventory&#8212;Order Tracker</title>
		{% endblock title %}
		<link rel="stylesheet" href="{% static "css/base.css" %}" />
		<script src="{% static "js/tablesort.js" %}"></script>
		<script src="{% static "js/misc.js" %}"></script>
{#		<script src="{% static "js/ajax.js" %}"></script>#}
	</head>

	<body>
		{% block header %}
			<h1>Order / Inventory Tracker</h1>
		{% endblock header %}
		<div class="div_user-greeting">
			<strong>
				{% if user.is_authenticated %}
					Hi {{ user.first_name }} ({{ user.username }})!
				{% else %}
					Hello anonymous.
				{% endif %}
			</strong><br/>
			<a href="/register/">Register user</a> |
			{% if not user.is_authenticated %}
				<a id="displayText" href="javascript:toggle('toggleDiv', 'displayText');">Log in</a>
				<div id="toggleDiv" style="display: none; padding-top: 0.5em;">
					<form id="login_form" method="post" action="/login/">
						{% csrf_token %}
						Username: <input type="text" name="username" value="" size="12" />
						<br />
						Password: <input type="password" name="password" value="" size="12" />
						<br />
						<small>Remember me</small> <input type="checkbox" value="remember_me">
						<input type="submit" value="submit" />
					</form>
				</div>
			{% else %}
				<a href="/logout/">Log out</a>
			{% endif %}
		</div>
		<nav>
			<a href="/">Home</a>
			| <a href="/about">About</a>
			| <a href="/accounts?accts=active">Accounts</a>
			| <a href="/inventory?status=stored">Inventory</a>
{#			| | <a href="/register/">Register user</a>#}
{#			{% if not user.is_authenticated %}#}
{#				| <a href="/login/">Log in</a>#}
{#			{% else %}#}
{#				| <a href="/logout/">Log out</a>#}
{#			{% endif %}#}
		</nav>

	{% block content %}
{#		<h3 id="user_greeting">#}
{#		{% if user.is_authenticated %}#}
{#			Hello {{ user.username }}.#}
{#		{% else %}#}
{#			Hello anonymous user.#}
{#		{% endif %}#}
{#		</h3>#}

		{% if messages %}
			<ul class="message">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
				{% endfor %}
			</ul>
		{% endif %}

{#		<br/>#}
		Active customers: {{ cust_act_count }}<br />
		Total customers: {{ cust_count }}<br />
		Items currently in storage: {{ item_count }}<br />
		<a href="/inventory?storage_fees=yes">Items currently incurring storage fees: {{ item_storage_count }}</a><br/>
		<a href="/inventory?storage_fees=no">Items not yet incurring storage fees: {{ item_no_storage_count }}</a>

{#		<br/><br/><form method="get" action="/accounts">#}
{#			Account: <input type="text" name="acct" />#}
{#			<input type="submit" name="submit" value="Search" />#}
{#		</form>#}
	{% endblock %}

	</body>
</html>