{% extends 'tracker/index.html' %}
{% load static %}

{% block header %}
	{% if item %}
		<h1>Item {{ item.itemid }} &#8212; {{ customer.name }}, #{{ customer.acct }}</h1>
	{% elif customer %}
		<h1>Inventory &#8212; {{ customer.name }} (#{{ customer.acct }})</h1>
	{% elif filter %}
		<h1>Inventory &#8212; {{ filter }} {% if count %}({{ count }}){% endif %}</h1>
	{% else %}
{#		This last one shouldn't ever appear, but is a fallback in case I mess something up #}
		<h1>Inventory {% if count %}({{ count }}){% endif %}</h1>
	{% endif %}
{% endblock header %}
{% load num_filters %}

{% block content %}

	{% if op_message %}
		{{ op_message }}<br/>
	{% endif %}

	<a href="/inventory?status=stored">Stored Items</a>
	{% if customer %}
		| <a href="/accounts/{{ customer.acct }}/add_inventory/">Add Inventory</a>
	{% endif %}
	<br/>Status: <a href="/inventory?status=inducted">Inducted</a>
	| <a href="/inventory?status=order_received">Order Received</a>
	| <a href="/inventory?status=order_begun">Order Begun</a>
	| <a href="/inventory?status=order_completed">Order Completed</a>

	{% if storage_fees %}
		<br/><br/>Daily storage fees as of today: ${{ storage_fees|length:"2" }}
	{% endif %}
	{% if inventory_list %}
		<br/><br/>
		{% if customer %}
			<form id="manage_inventory" method="post" action="/manage_items/">
			{% csrf_token %}
		{% endif %}
		<table>
			<tr>
{#				{% if customer %}#}
{#					<th><input type="checkbox" id="checkbox" onclick="checkedAll();"></th>#}
{#				{% endif %}#}
{#				TODO: Enable checking all checkboxes #}
{#				TODO: Enable sorting table by column #}
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
			{% for item in inventory_list %}
				<tr>
					{% if customer %}
						<td><input type="checkbox" name="{{ item.itemid }}" id="checkbox"></td>
					{% endif %}
					<td id="item_id">
						<a href="/inventory?item={{ item.itemid }}">{{ item.itemid }}</a>
					</td>
					<td id="item_owner">
						<a href="/accounts/{{ item.owner.acct }}">{{ item.owner.name }}</a>
					</td>
					<td id="item_quantity">{{ item.quantity }}</td>
					<td id="item_volume">{{ item.volume|length:"2" }}</td>
					<td id="item_storage_fees">${{ item.storage_fees|length:"2" }}</td>
					<td id="item_status">{{ item.status|op_code }}</td>
					<td id="item_arrival">{{ item.arrival|date:"m-d-Y" }}</td>
				</tr>
			{% endfor %}
		</table>
		{% if customer %}
			<br/>
			<select name="operation">
				<option value="1">Inducted (0)</option>
				<option value="2">Order Received (1)</option>
				<option value="3">Order Begun (2)</option>
				<option value="4">Order Completed (3)</option>
				<option value="5">Shipped (4)</option>
			</select>
			Time elapsed (minutes): <input type="text" name="labor_time">
			<input type="submit" name="submit" value="Change Status" />
			</form>
		{% endif %}

	{% elif item %}
		<br/><br/>
		<form id="manage_inventory" method="post" action="/change_status?item={{ item.itemid }}">
		{% csrf_token %}
		<table>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
			<tr>
				<td id="item_id">{{ item.itemid }}</td>
				<td id="item_owner">
					<a href="/accounts/{{ item.owner.acct }}">{{ item.owner.name }}</a>
				</td>
				<td id="item_quantity">{{ item.quantity }}</td>
				<td id="item_volume">{{ item.volume|length:"2" }}</td>
				<td id="item_storage_fees">${{ item.storage_fees|length:"2" }}</td>
				<td id="item_status">{{ item.status|op_code }}</td>
				<td id="item_arrival">{{ item.arrival|date:"m-d-Y" }}</td>
			</tr>
		</table>

		<h2>Operation History</h2>
		<table>
			<tr>
				{% for item in op_headers %}
					<th>{{ item }}</th>
				{% endfor %}
				{% for operation in op_list %}
					<tr>
						<td id="op_id">{{ operation.id }}</td>
						<td id="op_code">{{ operation.op_code|op_code }}</td>
						<td id="op_start">{{ operation.start }}</td>
						<td id="op_finish">{{ operation.finish }}</td>
						<td id="op_labor_time">{{ operation.labor_time }}</td>
{#						Field for additional expenses / notes? #}
					</tr>
				{% endfor %}
			</tr>
		</table>
		<br/>
		<select name="operation">
			<option value="0">Inducted (0)</option>
			<option value="1">Order Received (1)</option>
			<option value="2">Order Begun (2)</option>
			<option value="3">Order Completed (3)</option>
			<option value="4">Shipped (4)</option>
		</select>
		Time elapsed (minutes): <input type="text" name="labor_time">
		<input type="submit" name="submit" value="Change Status" />
		</form>
	{% else %}
		<p id="error_message">{{ error_message }}</p>
	{% endif %}

	{% if message %}
		{{ message }}
	{% endif %}

{% endblock %}