{% extends 'tracker/index.html' %}
{% load static %}

{% block header %}
	{% if customer %}
		<h1>Inventory &#8212; {{ customer.name }}</h1>
	{% else %}
		<h1>Inventory &#8212; {{ filter }}</h1>
	{% endif %}
{% endblock header %}

{% block content %}

	{% if message %}
		{{ message }}
	{% endif %}

	<a href="/inventory?status=stored">Stored Items</a>
	| <a href="/inventory?add">Add Inventory</a><br/>
	Status: <a href="/inventory?status=order_received">Order Received</a>
	| <a href="/inventory?status=order_begun">Order Begun</a>
	| <a href="/inventory?status=order_completed">Order Completed</a>

	{% if storage_fees %}
		Storage fees as of {{ date }}: ${{ storage_fees }}
	{% endif %}
	{% if inventory_list %}
		<br/><br/><table>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
			{% for item in inventory_list %}
				<tr>
					<td id="item_id">{{ item.itemid }}</td>
					<td id="item_owner">
						<a href="/accounts/{{ item.owner.acct }}">{{ item.owner.name }}</a>
					</td>
					<td id="item_quantity">{{ item.quantity }}</td>
					<td id="item_volume">{{ item.volume }}</td>
					<td id="item_storage_fees">{{ item.storage_fees }}</td>
					<td id="item_status">{{ item.status }}</td>
					<td id="item_arrival">{{ item.arrival }}</td>
				</tr>
			{% endfor %}
		</table>

	{% else %}
		<p id="error_message">{{ error_message }}</p>
	{% endif %}

{% endblock %}