{% extends 'tracker/index.html' %}
{% load static %}

{% block title %}
	<title>
		{% if item %}
			Item {{ item.itemid }} - {{ customer.name }}, #{{ customer.acct }}
		{% elif filter %}
			Inventory {{ filter }} {% if count %}({{ count }}){% endif %}
		{% else %}
			Inventory {% if count %}({{ count }}){% endif %}
		{% endif %}
	</title>
{% endblock title %}

{% block header %}
	{% if item %}
		<h1>Item {{ item.itemid }} &#8212; {{ customer.name }}, #{{ customer.acct }}</h1>
{#	{% elif customer %}#}
{#		<h1>Inventory &#8212; {{ customer.name }} (#{{ customer.acct }})</h1>#}
	{% elif filter %}
		<h1>Inventory &#8212; {{ filter }} {% if count %}({{ count }}){% endif %}</h1>
	{% else %}
{#		This last one shouldn't ever appear, but is a fallback in case I mess something up #}
		<h1>Inventory {% if count %}({{ count }}){% endif %}</h1>
	{% endif %}
{% endblock header %}
{% load num_filters %}

{% block content %}

	<a href="/inventory?status=stored">All Items</a>
	| Status: <a href="/inventory?status=inducted">Inducted</a>
	| <a href="/inventory?status=order_received">Order Received</a>
	| <a href="/inventory?status=order_begun">Order Begun</a>
	| <a href="/inventory?status=order_completed">Order Completed</a>
	{% if customer %}
		<br/>
		{% if user.is_authenticated %}
			<a href="/accounts/{{ customer.acct }}/add_inventory/">Add Inventory</a>
		{% endif %}
		| <a href="/accounts/{{ customer.acct }}">Manage Account</a>
		| <a href="/inventory?acct={{ customer.acct }}&status=all">Inventory Report</a>
	{% endif %}

	{% if messages %}
		<ul class="message">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if storage_fees %}
		{% if not messages %}
			<br/><br/>
		{% endif %}
		Daily storage fees as of today: ${{ storage_fees|length:"2" }}
	{% endif %}

	{% if user.is_authenticated %}
		<br/><br/>
		{% if item %}
			<form id="manage_inventory" method="post" action="/change_status?item={{ item.itemid }}">
			{% csrf_token %}
		{% elif customer and inventory_list %}
			<form id="manage_inventory" method="post" action="/manage_items/">
			{% csrf_token %}
		{% endif %}
	{% endif %}
	<table>
		<thead>
			<tr>
{#				TODO: Enable checking all checkboxes #}
				{% if user.is_authenticated and customer and inventory_list %}
{#					Adds checkbox for selection if logged in and looking at multiple items #}
{#					that belong to the same customer #}
					<th></th>
	{#				{% if customer %}#}
	{#					<th><input type="checkbox" id="checkbox" onclick="checkedAll();"></th>#}
	{#				{% endif %}#}
				{% endif %}
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% if item %}
				<tr>
					<td id="item_id">{{ item.itemid }}</td>
					<td id="item_owner">
						<a href="/accounts/{{ item.owner.acct }}">{{ item.owner.name }}</a>
					</td>
					<td id="item_quantity">{{ item.quantity }}</td>
					<td id="item_volume">{{ item.volume|length:"2" }}</td>
					<td id="item_storage_fees">${{ item.storage_fees|length:"2" }}</td>
					<td id="item_status">{{ item.status|op_code }}</td>
					<td id="item_arrival">{{ item.arrival|date:"m-d-Y" }}</td>
				</tr>
			{% elif inventory_list %}
				{% for item in inventory_list %}
					<tr>
						{% if user.is_authenticated %}
							{% if customer %}
								<td><input type="checkbox" name="{{ item.itemid }}" id="checkbox"></td>
							{% endif %}
						{% endif %}
						<td id="item_id">
							<a href="/inventory?item={{ item.itemid }}">{{ item.itemid }}</a>
						</td>
						<td id="item_owner">
							<a href="/accounts/{{ item.owner.acct }}">{{ item.owner.name }}</a>
						</td>
						<td id="item_quantity">{{ item.quantity }}</td>
						<td id="item_volume">{{ item.volume|length:"2" }}</td>
						{% if not item.status == '4' %}
							<td id="item_storage_fees">${{ item.storage_fees|length:"2" }}</td>
						{% else %}
							<td class="inactive"></td>
						{% endif %}
						<td id="item_status">{{ item.status|op_code }}</td>
						<td id="item_arrival">{{ item.arrival|date:"m-d-Y" }}</td>
						{% if item.status == '4' %}
							<td>{{ item.departure|date:"m-d-Y" }}</td>
						{% elif b_inactive %}
							<td class="inactive"></td>
						{% endif %}
					</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
	{% if op_list %}
		<h2>Operation History</h2>
		<table id="op_history">
			<thead>
				<tr>
					{% for item in op_headers %}
						<th>{{ item }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for operation in op_list %}
					<tr id="op_row">
						<td id="op_id">{{ operation.id }}</td>
						<td id="op_code">{{ operation.op_code|op_code }}</td>
						<td id="op_time">{{ operation.dt }}</td>
						<td id="op_actor">{{ operation.user }}</td>
	{#					Field for additional expenses / notes?#}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
	{% if user.is_authenticated %}
		{% if item or customer and inventory_list %}
			<br/>
			<select name="operation">
				<option value="0">Inducted (0)</option>
				<option value="1">Order Received (1)</option>
				<option value="2">Order Started (2)</option>
				<option value="3">Order Completed (3)</option>
				<option value="4">Shipped (4)</option>
			</select>
{#			Time elapsed (minutes): <input type="text" name="labor_time">#}
			{% if item.status != '4' %}
				<input type="submit" name="submit" value="Change Status" />
			{% else %}
				<input type="submit" value="Change Status" disabled />
			{% endif %}
		</form>
		{% endif %}
	{% endif %}

	{% if error_message %}
		<p id="error_message">{{ error_message }}</p>
	{% endif %}

{#	{% if message %}#}
{#		{{ message }}#}
{#	{% endif %}#}

{% endblock %}