{% extends 'tracker/index.html' %}
{% load static %}
{% load num_filters %}

{% block title %}
	<title>
		Shipment {{ shipment.shipid }}
	</title>
{% endblock title %}

{% block header %}
	<h1>Shipment {{ shipment.shipid }} &#8212; {{ shipment.owner.name }}, #{{ shipment.owner.acct }}</h1>
{% endblock header %}

{% block sub_nav %}

{% endblock sub_nav %}

{% block content %}

	<table>
		<thead>
		{% for item in headers %}
			<th>{{ item }}</th>
		{% endfor %}
		</thead>
		<tbody>
		<td><a href = "/accounts?acct={{ shipment.owner.acct }}">{{ shipment.owner.name }}</a></td>
		<td>#{{ shipment.owner.acct }}</td>
		<td>{{ shipment.palletized }}</td>
		{% if shipment.status != '4' %}
			<td>{{ shipment.arrival|date:"m-d-Y" }}</td>
		{% else %}
			<td>Departure: {{ shipment.departure|date:"m-d-Y" }}</td>
		{% endif %}
		<td>{{ shipment.labor_time }}</td>
		<td>{{ shipment.status|op_code }}</td>
		<td>{{ shipment.tracking_number }}</td>
		<td><a id = "shipFormToggle" href = "#" onclick = "javascript:togglePane('shipForm', 'shipFormToggle');">Hide
			Info</a>
		</tbody>
	</table>

	<br />
	<div class="row">
		<div class="col-2">
			<h3>Item List ({{ shipment.inventory_set.count }})</h3>
			<table style="width: 90%;">
				<thead>
				{% for item in item_headers %}
					<th>{{ item }}</th>
				{% endfor %}
				</thead>
				<tbody>
				{% for item in item_list %}
					<tr>
						<td id = "item_id">
							<a href = "/inventory?item={{ item.itemid }}">{{ item.itemid }}</a>
						</td>
						<td id = "item_volume">{{ item.volume|length:"2" }}</td>
						{% if not item.status == '4' %}
							<td id = "item_storage_fees">${{ item.storage_fees }}</td>
						{% else %}
							<td class = "inactive"></td>
						{% endif %}
						<td id = "item_status">{{ item.status|op_code }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="col-2">
			<div id = "shipForm" style = "display: block;">
				<h3>Information</h3>
			{% if user.is_authenticated %}
				<form id="ship_info" method="post" action="/ship_info?shipid={{ shipment.shipid }}">
					{% csrf_token %}
			{% endif %}
					<div class="col-2">
						Palletized: <input type="checkbox" name="palletized" value="{{ shipment.palletized }}" /><br/>
						Labor time: <input type="text" name="labor_time" value="{{ shipment.labor_time }}" /><br/>
						Tracking #: <input type="text" name="tracking_number" value="{{ shipment.tracking_number }}" /><br/>
						{% if shipment.status != '4' %}
							<input type = "submit" name = "submit" value = "Submit" />
						{% endif %}
					</div>
					<div class="col-2">
						Shipment notes:<br />
						<textarea name = "notes" id = "notes">{{ shipment.notes }}</textarea>
					</div>
			{% if user.is_authenticated %}
				</form>
			{% endif %}
			</div>
		</div>
	</div>

	<hr width = "85%" align = "left" />

	<div class = "row">
		<h3>Extras ({{ shipment.optextras_set.count }})</h3>
		<table>
			<thead>
			{% for item in extras_headers %}
				<th>{{ item }}</th>
			{% endfor %}
			</thead>
			<tbody>
			{% for extra in extras_list %}
				<tr>
					<td>{{ extra.quantity }}</td>
					<td>${{ extra.unit_cost|length:"2" }}</td>
					<td>${{ extra.total_cost|length:"2" }}
					<td>{{ extra.description }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>

	<script>
		function disableElements(eleForm) {
			var sForm = document.getElementById(eleForm);
			var count = 0;
			for (var i = 0; i < sForm.childElementCount; i++) {
				var c = sForm.children[i];
				for (var j = 0; j < c.childElementCount; j++) {
					count += 1;
					c.children[j].disabled = true;
				}
			}
			console.log("Disabled " + count + " children of " + eleForm + ".");
		}
		var oldEvt = window.onload;
		window.onload = function () {
			if (oldEvt) oldEvt();
			var t = document.getElementsByClassName('float_user-greeting')[0].children[3].innerText;
			if (t == 'Log in') {
				disableElements('shipForm');
			}
		}
	</script>

{% endblock content %}
