{% extends 'tracker/index.html' %}
{% load static %}
{% load num_filters %}

{% block title %}
    <title>Work Orders</title>
{% endblock title %}

{% block header %}
    {% if 'Finish Date' in headers %}
        Closed Work Orders <span class="subheader">({{ count }})</span>
    {% else %}
        Open Work Orders <span class="subheader">({{ count }})</span>
    {% endif %}
{% endblock header %}

{% block sub_nav %}

    <a href="{% url 'work_order_list' status='incomplete' %}">Incomplete Orders</a>
    | <a href="{% url 'work_order_list' status='complete' %}">Complete Orders</a>
    | <a href="{% url 'work_order_list' status='terminated' %}">Terminated Orders</a>

{% endblock sub_nav %}

{% block extra_scripts %}
    <script src="{% static "js/formelements.js" %}"></script>
{% endblock extra_scripts %}

{% block content %}

    <div class="row">
        <div class="small-12 column">
            <table class="sortable" id="workorder-list-table">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checkbox"></th>
                    {% for item in headers %}
                        {% if item == 'Shipment' %}
                            {% if 'Termination Date' not in headers %}
                                <th style="width:25%;">{{ item }}</th>
                            {% else %}
                                <th>{{ item }}</th>
                            {% endif %}
                        {% else %}
                            <th>{{ item }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td class="checkbox">
                            <input type="checkbox" class="checkbox" name="{{ order.id }}">
                        </td>
                        <td>
                            <a href="{% url 'work_order_detail' id=order.id %}">{{ order.id }}</a>
                        </td>
                        <td>
                            {% if order.shipment %}
                                <a href="{% url 'shipment_detail' shipid=order.shipment.shipid %}">{{ order.shipment.shipid }}</a>
                            {% elif order.status == '999' %}
                                <a href="#" class="disabled">Null</a>
                            {% else %}
                                <ul class="button-group">
                                    <li class="shipment-button">
                                        <a href="#" class="small button info" id="{{ order.id }}">Link</a>
                                    </li>
                                    <li class="shipment-button">
                                        <a href="/accounts/{{ order.owner.acct }}/add_shipment/"
                                           class="small button">Create</a>
                                    </li>
                                </ul>
                                <form method="post" id="match-order-{{ order.id }}" action="" style="display:none;">
                                    {% csrf_token %}
                                    <select class="unmatched-shipment-select" id="{{ order.id }}">
                                        {% for shipment in list %}
                                            <option id="{{ shipment.shipid }}">{{ shipment }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="tiny button" type="submit" name="submit">Submit</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'account_detail' account_id=order.owner.acct %}">{{ order.owner.name }}</a>
                        </td>
                        <td>{{ order.createdate|date:"M d, Y" }}</td>
                        {% if order.status != '999' %}
                            <td>{{ order.get_status_display }}</td>
                            <td><a href="/workorders/{{ order.id }}/remove/" id="{{ order.id }}" class="delete-order tiny button alert">Delete</a></td>
                        {% else %}
                            <td>{{ order.finishdate|date:"M d, Y" }}</td>
                            <td>{{ order.get_status_display }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}