{% extends 'tracker/index.html' %}
{% load static %}
{% load num_filters %}

{% block title %}
    <title>Work Orders</title>
{% endblock title %}

{% block header %}
    Open Work Orders <span class="subheader">({{ count }})</span>
{% endblock header %}

{% block sub_nav %}

    <a href="/workorders?status=incomplete">Open Orders</a>
    | <a href="/workorders?status=complete" class="disabled">Closed Orders</a>

{% endblock sub_nav %}

{% block extra_scripts %}
    <script src="{% static "js/formelements.js" %}"></script>
{% endblock extra_scripts %}

{% block content %}

    <div class="row">
        <div class="small-12 column">
            <table class="sortable" id="workorder-list-table">
                <thead>
                <tr>
                    <th><input type="checkbox" class="checkbox" onclick="checkAll(this);"></th>
                    <th>Order ID</th>
                    <th style="width:30%;">Shipment</th>
                    <th>Owner</th>
                    <th>Create Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td class="checkbox">
                            <input type="checkbox" class="checkbox" name="{{ order.id }}">
                        </td>
                        <td>
                            <a href="{% url 'work_order_detail' id=order.id %}">{{ order.id }}</a>
                        </td>
                        <td>
                            {% if order.shipment %}
                                <a href="{% url 'shipment_detail' shipid=order.shipment.shipid %}">{{ order.shipment.shipid }}</a>
                            {% else %}
                                <ul class="button-group">
                                    <li class="shipment-button">
                                        <a href="#" class="button" onclick="matchShipment(this, {{ order.id }})">Associate</a>
                                    </li>
                                    <li class="shipment-button">
                                        <a href="/accounts/{{ order.owner.acct }}/add_shipment/"
                                           class="button">Create</a>
                                    </li>
                                </ul>
                                <form method="post" id="match-order-{{ order.id }}" action="" style="display:none;">
                                    {% csrf_token %}
                                    <select class="unmatched-shipment-select" id="{{ order.id }}">
                                        {% for shipment in list %}
                                            <option id="{{ shipment.shipid }}">{{ shipment }}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="tiny button" type="submit" name="submit">Submit</button>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'account_detail' account_id=order.owner.acct %}">{{ order.owner.name }}</a>
                        </td>
                        <td>{{ order.createdate }}</td>
                        <td>{{ order.get_status_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock content %}