/* Universal reset */
/* * {
	margin: 0;
	padding: 0;
} */

p {
	margin  : 0;
	padding : 0;
}

body {
	/*width        : 85%;*/
	/* TODO: Responsive-ize this */
	font-family  : "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left : 1em;
	/*background-color : #95a5a6;*/
}

a.disabled {
	pointer-events : none;
	cursor         : default;
	/*text-decoration : none;*/
	color          : black;
}

  /*//////////////*/
 /*// MESSAGES //*/
/*//////////////*/

ul .messages {
	list-style : none;
}

  /*////////////*/
 /*// TABLES //*/
/*////////////*/

table {
	border          : 1px solid gray;
	width           : 90%;
	border-collapse : collapse;
}

th {
	color            : #ffffff;
	background-color : #555555;
	border           : 1px solid #555555;
	padding          : 3px;
	vertical-align   : top;
}

table.sortable th:not(.checkbox):hover {
	background-color : #414141;
	cursor           : pointer;
}

#td_checkbox {
	padding-left : 0;
	text-align   : center;
}

td {
	padding : 0.2rem 0.35rem 0.15rem 0.5rem;
	border  : 1px solid black;
}

td.ship_toggle {
	min-width: .5em;
}

td.ship_toggle:hover {
	background-color : #bebebe;
	cursor           : pointer;
}

/* Shipment toggle + \ - */
.ship_toggle a:link {
	text-decoration : none;
}

  /*//////////////////*/
 /*// row coloring //*/
/*//////////////////*/

table tr:nth-child(even) {
	background-color : #ffffff;
}

table tr:nth-child(odd) {
	background-color : #f1f1f1;
}

#ship_head_row {
	background-color : #dcdcdc;
	font-weight      : 500;
}

.inactive {
	background-color : #cdcdcd;
}

  /*//////////////////////////*/
 /*// FLOATING USER WINDOW //*/
/*//////////////////////////*/

.float_user-greeting {
	position : fixed;
	right    : 5%;
	top      : 5%;
	border   : thin solid;
	padding  : 7px;
	width    : 175px;
}

  /*///////////////////*/
 /*// GRID ELEMENTS //*/
/*///////////////////*/

.col-3 {
	float : left;
	width : 33%;
}

.col-2 {
	float : left;
	width : 50%;
}

.row {
	padding-bottom : 1rem;
	float          : left;
	width          : 80%;
	clear          : both;
}

.row h3, .row h4 {
	display : inline;
}


#notes {
	width         : 85%;
	height        : 5rem;
	margin-bottom : 1rem;
}

#shipForm input.text_input {
	width: 50%;
}

.btn {
	font-size       : medium;
	display         : inline-block;
	color           : #000000;
	margin-top      : 0.5rem;
	padding         : 5px 10px 5px 10px;
	border          : solid #000000 2px;
	text-decoration : none;
}

.btn #disabled {
	background     : #b0b0b0;
	pointer-events : none;
	cursor         : default;

}

.btn:not(.disabled):hover {
	background      : #2c3e50;
	color           : #ecf0f1;
	text-decoration : none;
	cursor          : pointer;
}
