body {
	/*width        : 85%;*/
	font-family  : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	margin  : 0;
	padding : 0;
}

a.disabled {
	pointer-events : none;
	cursor         : default;
	color          : gray;
}

.top-bar {
	margin-bottom: 1rem !important;
}

.row {
	padding-bottom : 0.5rem;
	float          : left;
	clear          : both;
}

  /*//////////////*/
 /*// MESSAGES //*/
/*//////////////*/

ul.messages {
	list-style : none;
}

  /*////////////*/
 /*// TABLES //*/
/*////////////*/

table {
	border          : 1px solid gray;
	width           : 90%;
}

th {
	border-bottom    : 2px solid rgba(85,85,85,0.15);
	padding          : 3px;
	vertical-align   : top;
}

table.sortable th:not(.checkbox):hover {
	background-color : #C7C7C7;
	cursor           : pointer;
}

#td_checkbox {
	padding-left : 0;
	text-align   : center;
}

td.ship-toggle {
	min-width : .5em;
}

td.ship-toggle:hover {
	background-color : #bebebe;
	cursor           : pointer;
}

/* Shipment toggle + \ - */
.ship-toggle a:link {
	text-decoration : none;
}

table#workorder-list-table > tbody > tr > td > ul.button-group > li > a.button {
    font-size     : small;
    padding-left  : 1.5rem;
    padding-right : 1.5rem;
}

table#workorder-list-table > tbody > tr > td > a.tiny.button.alert {
    margin-top : 10%;
    margin-left : 15%;
}

table#workorder-list-table > tbody > tr > td:last-child {
    border-left : 2px solid rgba(85, 85, 85, 0.1);
}

.button-group > li.shipment-button {
    margin-top    : 0.5rem;
    margin-bottom : -0.5rem;
}

select.unmatched-shipment-select,
select.unmatched-order-select {
    width        : 55%;
    margin-right : 0.5rem;
}

select#order-select {
    width : 45%;
}

form.match-shipment-form,
form.match-order-form {
    margin-top    : 0.5rem;
    margin-bottom : -0.5rem;
}

table#shipment-overview > tbody > tr > td > a.button {
    margin-bottom : 0;
    font-size     : 0.8rem;
}

  /*//////////////////////////*/
 /*// TABLE > row coloring //*/
/*//////////////////////////*/

.ship-head-row {
	background-color : #dcdcdc !important;
	font-weight      : 500;
}

.inactive {
	background-color : #cdcdcd;
}

select:not(.disabled):hover {
	cursor             : pointer;
}

#notes {
	width         : 85%;
	height        : 5rem;
	margin-bottom : 1rem;
}

.extra-row {
	border        : 1px solid #dddddd;
	border-radius : 3px;
	margin-bottom : 1rem;
	padding       : 0.75rem;
	float         : left;
	clear         : both;
	width         : 60%;
}

.extra-row input[id="dim-input"] {
	display      : inline;
	width        : 28%;
	margin-left  : 0.1rem;
	margin-right : 0.1rem;
}

div.small-12.column.form > form > input:not([type="submit"]) {
	width : 40%;
}

  /*///////////////////*/
 /*// FORM ELEMENTS //*/
/*///////////////////*/

div.small-4.columns > label {
    /* Remove unnecessary mouseover effect from form labels */
    cursor: default;
}

select:disabled:hover {
    cursor: default;
}