body {
	width: 85%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 1em;
	/*background-color : #95a5a6;*/
}
ul.errorlist {
	list-style: none;
	color: red;
}
#error_message {
	color: red;
	font-weight: bold;
	margin-top: 10px;
}
table {
	border: 1px solid gray;
	width: 85%;
}
th {
	color: #ffffff;
	background-color: #555555;
	border: 1px solid #555555;
	padding: 3px;
	vertical-align: top;
}
#account_cell {
	padding-left: 0.5em;
}
#name_cell, #email_cell, #status_cell {
	padding-left: 1.0em;
}
table tr:nth-child(even) {
	background-color: #ffffff;
}
table tr:nth-child(odd) {
	background-color: #f1f1f1;
}