{# Template for displaying individual customer info #}
{% load static %}
{% load num_filters %}
<div class="row">
    <div class="small-12 large-12 column">
        <table>
            <thead>
            <tr>
                {% for item in headers %}
                    <th>{{ item }}</th>
                {% endfor item %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ customer.name }}</td>
                <td>#{{ customer.acct }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.get_status_display }}</td>
                <td>{{ customer.createdate|date:"M d, Y" }}</td>
                {% if customer.status == '0' %}
                    <td>{{ customer.closedate|date:"M d, Y" }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% if user.is_authenticated %}
    <div id="acctForm" style="display:none;">
        <div class="row">
            <div class="small-10 columns">
                <form id="acct_info" method="post" action="/acct_info?acct={{ customer.acct }}">
                    {% csrf_token %}

                    <div class="small-4 columns">
                        <label>Name:
                            <input type="text" name="name" value="{{ customer.name }}"/>
                        </label>
                    </div>
                    <div class="small-4 columns">
                        <label>Account:
                            <input type="text" name="acct" value="{{ customer.acct }}" disabled/>
                        </label>
                    </div>
                    <div class="small-4 columns">
                        <label>Email:
                            <input type="email" name="email" value="{{ customer.email }}"/>
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="small-10 column">
                <div class="small-12 column">
                    <!-- TODO: Some way to align this with above w/out nested columns? -->
                    <label>Notes
                        <textarea name="notes">{{ customer.notes }}</textarea>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-2 small-offset-8 columns">
                <input type="button" class="button small" value="Submit">
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="small-12 large-12 column">
        <hr width="85%" align="left">
        <h5>Open Orders</h5>
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" class="checkbox" disabled></th>
                <th>Order ID</th>
                <th style="width:33%;">Shipment</th>
                <th>Create Date</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in order_list %}
                <tr>
                    <td class="checkbox">
                        <input type="checkbox" class="checkbox" disabled>
                    </td>
                    <td><a href="{% url 'work_order_detail' id=order.id %}">{{ order.id }}</a></td>
                    <td>
                        {% if order.shipment %}
                            <a href="{% url 'shipment_detail' shipid=order.shipment.shipid %}">{{ order.shipment.shipid }}</a>
                        {% else %}
                            <ul class="button-group">
                                <li class="shipment-button">
                                    <a href="#" class="small button info link-shipment" id="{{ order.id }}">Link</a>
                                </li>
                                <li class="shipment-button">
                                    <a href="/accounts/{{ order.owner.acct }}/add_shipment/"
                                       class="small button">Create</a>
                                </li>
                            </ul>
                            <form method="post" class="match-order-form"
                                  id="{{ order.id }}" action="/workorders/{{ order.id }}/link/" style="display:none;">
                                {% csrf_token %}
                                <select name="shipid" class="unmatched-shipment-select" id="{{ order.id }}">
                                </select>
                                <button class="tiny button" type="submit" name="submit">Submit</button>
                            </form>
                        {% endif %}
                    </td>

                    <td>{{ order.createdate }}</td>
                    <td>{{ order.get_status_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="small-12 column">
        <hr width="85%" align="left">
        <h5>Shipments</h5>
        <a href="/inventory?acct={{ customer.acct }}&status=stored">Manage Inventory</a>
        | <a href="/inventory?acct={{ customer.acct }}&status=all">Inventory Report</a>
        {% if customer.status != '0' %}
        | <a href="/accounts/{{ customer.acct }}/add_shipment/0/">Add Shipment</a>
        {% else %}
        | <a href="#" class="disabled">Add Shipment</a>
        {% endif %}
        {% if storage_fees %}
        | Daily storage fees as of today: ${{ storage_fees|length:"2" }}<br/>
        {% else %}
        | Daily storage fees as of today: $0.00<br/>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 column">
        <table>
            <thead>
            <tr>
                <th>&nbsp;</th>
                {% for item in inv_headers %}
                    <th>{{ item }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% if shipment_list %}
                {% for shipment in shipment_list %}
                    <tr class="ship-head-row">
                        <td class="ship-toggle">-</td>
                        <td><a href="{% url 'shipment_detail' shipid=shipment.id %}">{{ shipment.id }}</a>
                            ({{ shipment.inventory.count }})
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>${{ shipment.inventory.all|storage_fee_total }}</td>
                        <td>{{ shipment.get_status_display }}</td>
                        <td>{{ shipment.arrival|date:"m-d-Y" }}</td>
                    </tr>
                    {% for item in shipment.inventory.all %}
                        <tr>
                            <td>&nbsp;</td>
                            <!-- Toggle -->
                            <td><span style="visibility:hidden;">{{ shipment.id }}</span></td>
                            <td><a href="/inventory?item={{ item.itemid }}">{{ item.itemid }}</a></td>
                            <td>{{ item.volume|length:"2" }}</td>
                            <td>${{ item.storage_fees|length:"2" }}</td>
                            <td>{{ item.get_status_display }}</td>
                            <td>{{ shipment.arrival|date:"m-d-Y" }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script>
    var oldEvt = window.onload;
    window.onload = function () {
        if (oldEvt) oldEvt();

        var custStatus = ({{ customer.status }});

        var t = document.getElementsByClassName('float_user-greeting')[0].children[3].innerText;
        if (t == 'Log in' || custStatus == 0) {
            disableElements('acctForm');
        }
    };
</script>