{# Template for a list of multiple customers #}
{% load static %}
{% load num_filters %}
<div class="row">
	<div class="small-12 large-12 column">
		<table>
			<thead>
			<tr>
				{% for item in headers %}
					<th>{{ item }}</th>
				{% endfor %}
			</tr>
			</thead>
			<tbody>
			{% for customer in customer_list %}
				<tr>
					<td><a href="{% url 'account_detail' account_id=customer.acct %}">{{ customer.acct }}</a></td>
					<td>{{ customer.name }}</td>
					{% if status_column %}
						<td>{{ customer.get_status_display }}</td>
					{% endif %}
					<td>{{ customer.createdate|date:"M d, Y" }}</td>
					{% if 'Active' not in head_text %}
						{% if customer.status == "0" %}
							<td>{{ customer.closedate|date:"M d, Y" }}</td>
						{% else %}
							<td class="inactive"></td>
						{% endif %}
					{% endif %}
					{% if 'Inactive' not in head_text %}
{#                        TODO: Display Matched and Unmatched Work Orders? #}
						<td>{{ customer.shipments.all|stored_count }}</td>
                        <td>{{ customer.workorders.all|stored_count }}</td>
					{% endif %}
					<td>${{ customer.inventory.all|storage_fee_total }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>