{# Template for floating login/logout block #}
{% load static %}
{#<img src="{% static "img/logo.png" %}" style="width: inherit;"/>#}
<strong>
	{% if user.is_authenticated %}
		Hi {{ user.first_name }} ({{ user.username }})!
	{% else %}
		Hello anonymous.
	{% endif %}
</strong><br/>
<a href="/register/">Register user</a> |
{% if not user.is_authenticated %}
	<a id="displayText" href="javascript:togglePane('toggleDiv', 'displayText');">Log in</a>
	<div id="toggleDiv" style="display: none; padding-top: 0.5em;">
		<form id="login_form" method="post" action="/login/">
			{% csrf_token %}
			Username: <input type="text" name="username" value="" size="12"/>
			<br/>
			Password: <input type="password" name="password" value="" size="12"/>
			<br/>
			<small>Remember me</small>
			<input type="checkbox" value="remember_me">
			<input type="submit" value="submit"/>
		</form>
	</div>
{% else %}
	<a href="/logout/">Log out</a>
{% endif %}